.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
   animation:10s abc infinite;
   animation-delay: 2s;
}

@keyframes abc {
  20% {
    margin-left:500px;
    background-color: red;
  }
  50% {
    margin-left: 500px;
    background-color: black;
    transform: rotate(45deg);
  }
}
